.pan {
  animation: move 40s ease;
  /* Add infinite to loop. */
  -ms-animation: move 40s ease;
  -webkit-animation: move 40s ease;
  -o-animation: move 40s ease;
  -moz-animation: move 40s ease;
  position: absolute;
}

@-webkit-keyframes move {
  0% {
    -webkit-transform-origin: bottom left;
    transform-origin: bottom left;
    transform: scale(1);
    -ms-transform: scale(1);
    /* IE 9 */
    -webkit-transform: scale(1);
    /* Safari and Chrome */
    -o-transform: scale(1);
    /* Opera */
    -moz-transform: scale(1);
    /* Firefox */
  }
  100% {
    transform: scale(1.2);
    -ms-transform: scale(1.2);
    /* IE 9 */
    -webkit-transform: scale(1.2);
    /* Safari and Chrome */
    -o-transform: scale(1.2);
    /* Opera */
    -moz-transform: scale(1.2);
    /* Firefox */
  }
}

@keyframes move {
  0% {
    -webkit-transform-origin: bottom left;
    transform-origin: bottom left;
    transform: scale(1);
    -ms-transform: scale(1);
    /* IE 9 */
    -webkit-transform: scale(1);
    /* Safari and Chrome */
    -o-transform: scale(1);
    /* Opera */
    -moz-transform: scale(1);
    /* Firefox */
  }
  100% {
    transform: scale(1.2);
    -ms-transform: scale(1.2);
    /* IE 9 */
    -webkit-transform: scale(1.2);
    /* Safari and Chrome */
    -o-transform: scale(1.2);
    /* Opera */
    -moz-transform: scale(1.2);
    /* Firefox */
  }
}

.fade_in {
  -webkit-animation: fadein 1s;
  /* Safari, Chrome and Opera > 12.1 */
  /* Firefox < 16 */
  /* Internet Explorer */
  /* Opera < 12.1 */
  animation: fadein 1s;
  /* Firefox < 16 */
  /* Safari, Chrome and Opera > 12.1 */
  /* Internet Explorer */
  /* Opera < 12.1 */
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade_up {
  -webkit-animation-name: fadeUp;
          animation-name: fadeUp;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
}

@-webkit-keyframes fadeUp {
  0% {
    position: relative;
    margin-top: 2em;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeUp {
  0% {
    position: relative;
    margin-top: 2em;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade_up_delay {
  -webkit-animation-name: fadeUpDelay;
          animation-name: fadeUpDelay;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
}

@-webkit-keyframes fadeUpDelay {
  0% {
    position: relative;
    margin-top: 2em;
    opacity: 0;
  }
  50% {
    position: relative;
    margin-top: 2em;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeUpDelay {
  0% {
    position: relative;
    margin-top: 2em;
    opacity: 0;
  }
  50% {
    position: relative;
    margin-top: 2em;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.white {
  background: #FFF;
}

.greylightest {
  background: #F0F6FA;
}

.greylight {
  background: #D7DDE1;
}

.grey {
  background: #BDC3C7;
}

.greydark {
  background: #A4AAAE;
  color: #FFF;
}

.greydarkest {
  background: #8A9094;
  color: #FFF;
}

.black {
  background: #000;
  color: #FFF;
}

.magentalight {
  background: #fc7095;
  color: #FFF;
}

.magenta {
  background: #fc3468;
  color: #FFF;
}

.magentadark {
  background: #b02448;
  color: #FFF;
}

.turquoise {
  background: #00CDC6;
  color: #FFF;
}

.navy {
  background: #0F1A50;
  color: #FFF;
}

.violet {
  background: #0c0f89;
  color: #FFF;
}

.white {
  background: #FFF;
}

.greylightest {
  background: #F0F6FA;
}

.greylight {
  background: #D7DDE1;
}

.grey {
  background: #BDC3C7;
}

.greydark {
  background: #A4AAAE;
  color: #FFF;
}

.greydarkest {
  background: #8A9094;
  color: #FFF;
}

.black {
  background: #000;
  color: #FFF;
}

.magentalight {
  background: #fc7095;
  color: #FFF;
}

.magenta {
  background: #fc3468;
  color: #FFF;
}

.magentadark {
  background: #b02448;
  color: #FFF;
}

.turquoise {
  background: #00CDC6;
  color: #FFF;
}

.navy {
  background: #0F1A50;
  color: #FFF;
}

.violet {
  background: #0c0f89;
  color: #FFF;
}

html {
  font-size: 1.125em;
}

body {
  background-color: white;
  font-family: "Encode Sans Expanded", sans-serif;
  font-weight: 400;
  line-height: 1.45;
  color: #333;
}

p {
  margin-bottom: 1.3em;
  line-height: 1.7;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 5.063em;
}

h2 {
  font-size: 3.375em;
}

h3 {
  font-size: 2.25em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1em;
}

small, .font_small {
  font-size: 0.667em;
}

p {
  margin-bottom: 1.3em;
}

a {
  color: #fc3468;
  text-decoration: none;
}

a:visited {
  color: #fc3468;
  text-decoration: none;
}

a:hover {
  color: #fc7095;
  text-decoration: none;
  opacity: 0.5;
  -webkit-transform-origin: 0;
          transform-origin: 0;
  transition: opacity 0.2s ease, -webkit-transform 0.2s cubic-bezier(0.77, 0.2, 0.05, 1);
}

a:active {
  color: #fc3468;
  text-decoration: none;
}

bold {
  font-weight: 700;
}

.removemargin {
  margin: 0;
}

.violet_text {
  color: #0c0f89;
}

@media (max-width: 1599px) {
  html {
    font-size: 1em;
  }
}

@media (max-width: 767px) {
  html {
    font-size: 0.875em;
  }
}

/* Floating Labels  */
input:focus ~ label,
textarea:focus ~ label,
input:valid ~ label,
textarea:valid ~ label {
  color: #00CDC6;
  font-size: 0.8535em;
  top: -1rem;
  transition-property: top;
  -webkit-transition-property: top;
  transition-duration: 0.125s ease;
  -webkit-transition-duration: 0.125s ease;
}

.styled-input {
  margin: 2rem 0 1rem;
  position: relative;
}

.styled-input label {
  color: #999;
  padding: 0 5px;
  position: absolute;
  top: 0;
  left: 0;
  transition-property: top, left;
  -webkit-transition-property: top, left;
  transition-duration: 0.25s ease;
  -webkit-transition-duration: 0.25s ease;
  pointer-events: none;
}

input,
textarea {
  font-family: "Montserrat", sans-serif;
  padding: 5px;
  border: 0;
  width: 100%;
  font-size: 1em;
  border-bottom: 2px solid #BDC3C7;
}

input ~ span,
textarea ~ span {
  display: block;
  width: 0;
  transition-property: width;
  -webkit-transition-property: width;
  transition-duration: 0.125s ease;
  -webkit-transition-duration: 0.125s ease;
}

input:focus,
textarea:focus {
  outline: 0;
  border-bottom: 2px solid #000;
}

input:focus ~ span,
textarea:focus ~ span {
  width: 100%;
  transition-property: width;
  -webkit-transition-property: width;
  transition-duration: 0.075s ease;
  -webkit-transition-duration: 0.075s ease;
}

textarea {
  width: 100%;
}

/* Buttons  */
input[type=button], input[type=submit], .btn {
  display: inline-block;
  text-align: center;
  color: #FFF;
  background-color: #fc3468;
  text-transform: uppercase;
  font-size: 1em;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.1em;
  min-width: 140px;
  max-width: 320px;
  padding: 10px 30px;
  margin: 0 auto;
  -webkit-transform-origin: 0;
          transform-origin: 0;
  transition: background-color 0.2s ease, -webkit-transform 0.2s cubic-bezier(0.77, 0.2, 0.05, 1);
}

input[type=button].hollow, input[type=submit].hollow, .btn.hollow {
  border: 2px solid #fc3468;
  color: #fc3468;
  background-color: transparent;
}

input[type=button]:visited, input[type=submit]:visited, .btn:visited {
  color: #FFF;
}

input[type=button]:visited.hollow, input[type=submit]:visited.hollow, .btn:visited.hollow {
  color: #fc3468;
}

input[type=button]:hover, input[type=submit]:hover, .btn:hover {
  color: #FFF;
  background-color: #fc7095;
  cursor: pointer;
  opacity: 1;
}

input[type=button]:hover.hollow, input[type=submit]:hover.hollow, .btn:hover.hollow {
  border: 2px solid #fc7095;
  color: #fc7095;
  background-color: transparent;
}

input[type=button]:active, input[type=submit]:active, .btn:active {
  color: #FFF;
  background-color: #b02448;
}

input[type=button]:active.hollow:active, input[type=submit]:active.hollow:active, .btn:active.hollow:active {
  border: 2px solid #b02448;
  color: #b02448;
  background-color: transparent;
}

.grid {
  margin-left: -20px;
  clear: both;
}

.col {
  float: left;
  min-height: 1px;
  padding-left: 20px;
  margin-bottom: 20px;
}

.col span {
  display: block;
  padding: 20px;
}

.col-20 {
  width: 20%;
}

.col-25 {
  width: 25%;
}

.col-33 {
  width: 33.33%;
}

.col-50 {
  width: 50%;
}

.col-66 {
  width: 66.66%;
}

.col-75 {
  width: 75%;
}

.col-100 {
  width: 100%;
}

@media (max-width: 480px) {
  .col-20, .col-25, .col-25, .col-33, .col-50, .col-66, .col-75, .col-100 {
    width: 100%;
  }
}

.icon.xs {
  width: 16px;
  height: 16px;
}

.icon.sm {
  width: 24px;
  height: 24px;
}

.icon.md {
  width: 32px;
  height: 32px;
}

.icon.lg {
  width: 48px;
  height: 48px;
}

.icon.xl {
  width: 64px;
  height: 64px;
}

.icon.xxl {
  width: 128px;
  height: 128px;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older bgridsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Apply Border Box Sizing Globally */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 1.125em;
}

body {
  background-color: white;
  font-family: "Encode Sans Expanded", sans-serif;
  font-weight: 400;
  line-height: 1.45;
  color: #333;
}

p {
  margin-bottom: 1.3em;
  line-height: 1.7;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 5.063em;
}

h2 {
  font-size: 3.375em;
}

h3 {
  font-size: 2.25em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1em;
}

small, .font_small {
  font-size: 0.667em;
}

p {
  margin-bottom: 1.3em;
}

a {
  color: #fc3468;
  text-decoration: none;
}

a:visited {
  color: #fc3468;
  text-decoration: none;
}

a:hover {
  color: #fc7095;
  text-decoration: none;
  opacity: 0.5;
  -webkit-transform-origin: 0;
          transform-origin: 0;
  transition: opacity 0.2s ease, -webkit-transform 0.2s cubic-bezier(0.77, 0.2, 0.05, 1);
}

a:active {
  color: #fc3468;
  text-decoration: none;
}

bold {
  font-weight: 700;
}

.removemargin {
  margin: 0;
}

.violet_text {
  color: #0c0f89;
}

@media (max-width: 1599px) {
  html {
    font-size: 1em;
  }
}

@media (max-width: 767px) {
  html {
    font-size: 0.875em;
  }
}

body {
  color: #000;
  background: #FFF;
  min-width: 320px;
  margin: 0;
  padding: 0;
}

body .desk_bg {
  display: block;
  width: 100%;
  height: 100%;
  max-height: 680px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  z-index: -10;
}

body .mob_bg {
  display: none;
  width: 100%;
  height: 100%;
  max-height: 420px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  z-index: -10;
}

nav {
  background: #FFF;
  margin: 0 auto;
  padding: 40px;
  text-transform: uppercase;
  border-bottom: 1px solid #D7DDE1;
}

header {
  position: relative;
  margin: 0 auto;
  padding: 0;
  height: 70%;
  min-height: 420px;
  max-height: 640px;
}

header.tint:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 50, 175, 0.75);
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

main {
  width: 100%;
  background: #FFF;
}

main article, main section {
  margin: 0 auto;
  padding: 30px 30px;
  max-width: 800px;
}

main article img, main section img {
  width: 100%;
  min-width: 100%;
}

main figure {
  margin: 0 auto;
  max-width: 800px;
  padding: 0 30px;
}

main figure img {
  width: 100%;
  min-width: 100%;
}

footer {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  clear: both;
}

footer small {
  display: block;
  padding: 40px;
}

a + svg {
  fill: #0c0f89;
  float: left;
  -webkit-transform-origin: 0;
          transform-origin: 0;
  transition: opacity 0.2s ease, -webkit-transform 0.2s cubic-bezier(0.77, 0.2, 0.05, 1);
}

a + svg:hover {
  opacity: 0.5;
}

a + svg:active {
  opacity: 1;
}

a + svg:focus {
  opacity: 1;
}

.desktop_nav {
  margin-bottom: 0;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  /* CH Logo */
}

.desktop_nav > a {
  float: left;
  position: relative;
  top: -23px;
}

.desktop_nav .icon {
  width: 48px;
  height: 48px;
}

.desktop_nav ul {
  float: right;
  position: relative;
  top: -12px;
}

.desktop_nav ul li {
  display: inline;
  list-style-type: none;
  margin-left: 120px;
  font-family: "Montserrat", sans-serif;
}

.desktop_nav ul li a {
  position: relative;
  padding-bottom: 5px;
  color: #000;
}

.mobile_nav {
  display: none;
  margin-bottom: 0;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  /* CH Logo */
}

.mobile_nav > a {
  float: left;
  position: relative;
  top: -14px;
}

.mobile_nav .nav_current {
  float: right;
  position: relative;
  top: -0.4em;
  right: 10px;
  font-size: 1em;
  font-family: "Montserrat", sans-serif;
}

.mobile_nav #menuToggle {
  float: right;
  position: relative;
  top: -6px;
  left: 10px;
  z-index: 2;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.mobile_nav #menuToggle #hamburgerinput {
  display: block;
  width: 32px;
  height: 32px;
  top: -12px;
  left: -18px;
  position: absolute;
  cursor: pointer;
  opacity: 0;
  /* hide this */
  z-index: 2;
  /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

.mobile_nav #menuToggle .hamburgerspan {
  display: block;
  width: 20px;
  height: 2px;
  margin-bottom: 4px;
  position: relative;
  right: 8px;
  background: #000;
  z-index: 1;
  -webkit-transform-origin: 0;
          transform-origin: 0;
  -webkit-transition: background 0.2s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.2s ease, -webkit-transform 0.2s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: background 0.2s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.2s ease, -webkit-transform 0.2s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.2s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.2s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.2s ease;
  transition: transform 0.2s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.2s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.2s ease, -webkit-transform 0.2s cubic-bezier(0.77, 0.2, 0.05, 1);
}

.mobile_nav #menuToggle .hamburgerspan:first-child {
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}

.mobile_nav #menuToggle .hamburgerspan:nth-last-child(2) {
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
}

.mobile_nav #menuToggle #hamburgerinput:checked ~ .hamburgerspan {
  -webkit-transform: rotate(45deg) translate(0, -1px);
          transform: rotate(45deg) translate(0, -1px);
  background: #FFF;
}

.mobile_nav #menuToggle #hamburgerinput:checked ~ .hamburgerspan:nth-last-child(3) {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
          transform: rotate(0deg) scale(0.2, 0.2);
}

.mobile_nav #menuToggle #hamburgerinput:checked ~ .hamburgerspan:nth-last-child(2) {
  opacity: 1;
  -webkit-transform: rotate(-45deg) translate(0, 1px);
          transform: rotate(-45deg) translate(0, 1px);
}

.mobile_nav #menuToggle #hamburgerinput:checked ~ ul {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  opacity: 1;
}

.mobile_nav #menuToggle #hamburgerinput:checked ~ .hamburgerbg {
  visibility: visible;
  opacity: 1;
  -webkit-transition: visibility 0s, opacity 0.5s linear;
  transition: visibility 0s, opacity 0.5s linear;
  z-index: -10;
}

.mobile_nav #menuToggle #hamburgerinput:checked ~ #menu {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: -webkit-transform 0.3s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.3s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.3s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.3s cubic-bezier(0.77, 0.2, 0.05, 1);
}

.mobile_nav #menuToggle #hamburgerinput:hover ~ .hamburgerspan, .mobile_nav #menuToggle #hamburgerinput:checked:hover ~ .hamburgerspan {
  opacity: 0.5;
}

.mobile_nav #menuToggle #hamburgerinput:focus ~ .hamburgerspan, .mobile_nav #menuToggle #hamburgerinput:checked:focus ~ .hamburgerspan {
  opacity: 1;
}

.mobile_nav #menuToggle #hamburgerinput:checked:hover ~ .hamburgerspan:nth-last-child(3), .mobile_nav #menuToggle #hamburgerinput:checked:focus ~ .hamburgerspan:nth-last-child(3) {
  opacity: 0;
}

.mobile_nav #menuToggle .hamburgerbg {
  display: block;
  cursor: pointer;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0s, opacity 0.5s linear;
  transition: visibility 0s, opacity 0.5s linear;
  z-index: -10;
}

.mobile_nav #menuToggle #menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 70%;
  height: 100%;
  text-align: center;
  padding: 60px 0;
  background-color: #0c0f89;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  -webkit-transform-origin: 0;
          transform-origin: 0;
  -webkit-transform: translate(100%, 0);
          transform: translate(100%, 0);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  overflow-y: auto;
}

.mobile_nav #menuToggle #menu li a {
  display: block;
  padding: 20px 0;
  margin: 10px 0;
  text-transform: uppercase;
  color: #FFF;
  font-family: "Encode Sans Expanded", sans-serif;
  -webkit-transform-origin: 0;
          transform-origin: 0;
  transition: opacity 0.2s ease, -webkit-transform 0.2s cubic-bezier(0.77, 0.2, 0.05, 1);
}

.mobile_nav #menuToggle #menu li a span {
  font-family: "Montserrat", sans-serif;
  position: relative;
  padding-bottom: 5px;
}

.mobile_nav #menuToggle #menu li span:hover a {
  opacity: 0.5;
}

.mobile_nav #menuToggle #menu::-webkit-scrollbar {
  display: none;
}

.active span::after {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  border-bottom: 2px solid #fc7095;
  content: "";
}

.blurb {
  margin: 0 auto;
  text-align: center;
  max-width: 768px;
}

.desk_splash_bg {
  display: block;
  width: 100%;
  height: 100%;
  max-height: 680px;
  background-image: url("../images/home/splash_bg.jpg");
  background-color: #0c0f89;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  z-index: -10;
}

.mob_splash_bg {
  display: none;
  width: 100%;
  height: 100%;
  max-height: 420px;
  background-image: url("../images/home/splash_bg_sm.jpg");
  background-color: #0c0f89;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  z-index: -10;
}

.splash_content {
  display: block;
  max-width: none;
  padding-bottom: 160px;
  height: 65%;
  min-height: 480px;
  max-height: 600px;
  position: relative;
  z-index: 1;
  text-align: center;
  color: #FFF;
  background-size: cover;
  text-transform: uppercase;
}

.splash_content .desktop_nav {
  background-color: transparent;
  border-bottom: none;
  padding-bottom: 80px;
}

.splash_content .desktop_nav ul li a {
  color: #FFF;
}

.splash_content .mobile_nav {
  background-color: transparent;
  margin-bottom: 30px;
  border-bottom: none;
}

.splash_content .mobile_nav #menuToggle .hamburgerspan {
  background: #FFF;
}

.splash_content a svg {
  fill: #FFF;
}

.splash_content h1 {
  position: relative;
  top: 15%;
  z-index: 1;
}

.splash_content h4 {
  letter-spacing: 0.6em;
  position: relative;
  bottom: -20%;
  z-index: 1;
}

.splash_content .splash_mask_left {
  fill: #FFF;
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 51%;
  height: 40%;
  max-height: 200px;
}

.splash_content .splash_mask_right {
  fill: #FFF;
  position: absolute;
  right: 0;
  bottom: -1px;
  width: 51%;
  height: 40%;
  max-height: 200px;
}

.about {
  height: 600px;
  position: relative;
  margin: 0 auto;
  background-size: cover;
  background-color: #BDC3C7;
}

.about .blue_box {
  width: 65%;
  height: 45%;
  padding: 30px;
  background-color: rgba(0, 225, 255, 0.4);
  color: #FFF;
  position: absolute;
  top: 15%;
  right: 10%;
  text-align: right;
}

.blog_list {
  display: block;
  margin: 0 auto;
  max-width: 800px;
  padding: 80px 30px;
}

.blog_list li {
  display: block;
  border-bottom: 1px solid #D7DDE1;
  padding-bottom: 30px;
  margin-bottom: 30px;
}

.blog_list li:nth-last-child(1) {
  border-bottom: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}

.blog_image_thumb {
  display: block;
  float: left;
  margin-right: 20px;
  width: 40%;
  height: 200px;
  background-color: #BDC3C7;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.blog_right_column {
  min-height: 200px;
}

.blog_description {
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 0;
}

.header_title_container {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
  padding: 40px;
}

.header_title {
  position: absolute;
  color: #FFF;
  border-left: 4px solid cyan;
  margin: auto;
  padding-left: 30px;
  bottom: 40px;
  display: block;
}

.header_date, .header_subtitle {
  color: #A4AAAE;
  margin: 20px 0 30px;
  font-family: "Encode Sans Expanded", sans-serif;
}

.header_date.font_small, .header_subtitle.font_small {
  margin: 0 0 10px;
}

.portfolio_list li {
  position: relative;
  float: left;
  width: 48%;
  height: 300px;
  overflow: hidden;
  margin: 0 4% 4% 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #BDC3C7;
  -webkit-transform-origin: 0;
          transform-origin: 0;
  transition: opacity 0.2s ease, -webkit-transform 0.2s cubic-bezier(0.77, 0.2, 0.05, 1);
}

.portfolio_list li a {
  display: block;
  width: 100%;
  height: 100%;
}

.portfolio_list li:nth-child(2n) {
  margin: 0 0 2% 0;
}

.portfolio_list li:hover {
  opacity: 0.5;
}

.wide_layout {
  max-width: 1028px;
}

.styles_splash h1 {
  font-size: 1.999em;
  display: inline;
  position: relative;
  bottom: 14px;
}

.styles_splash p {
  text-transform: none;
}

.styles_splash .divider {
  border-left: 1px solid #000;
  height: 50px;
  width: 1px;
  margin: 0 20px;
  position: relative;
  top: 1px;
  display: inline-block;
  opacity: 0.5;
}

.design_element {
  margin-bottom: 60px;
}

.design_element:after {
  display: block;
  content: "";
  clear: both;
}

.element_title {
  color: #BDC3C7;
  margin-bottom: 20px;
  text-transform: uppercase;
  clear: both;
}

.boldsection {
  font-weight: 700;
}

.lightsection {
  font-weight: 300;
}

.swatchcol {
  float: left;
  min-height: 1px;
  padding-left: 20px;
  margin-bottom: 20px;
}

.swatch {
  font-size: 0.707em;
  display: block;
  min-height: 20px;
  line-height: 1.2;
  text-align: center;
  padding: 20px;
}

.gridcolor {
  background: #D7DDE1;
}

.grid :nth-child(2n) .gridcolor {
  background: #F0F6FA;
}

@media (max-width: 1599px) {
  .desktop_nav ul li {
    margin-left: 80px;
  }
}

@media (max-width: 1027px) {
  .splash_content h1 {
    top: 15%;
    font-size: 3.375em;
    line-height: 1;
    letter-spacing: -0.05em;
  }
  .splash_content h4 {
    bottom: -20%;
    font-size: 1.25em;
    letter-spacing: 0.4em;
  }
}

@media (max-width: 767px) {
  body .desk_bg {
    display: none;
  }
  body .mob_bg {
    display: block;
    max-height: 480px;
  }
  header {
    min-height: 360px;
    max-height: 420px;
  }
  nav, section, footer {
    padding: 30px 20px;
  }
  main article, main section, main .blog_list {
    padding: 30px 20px;
  }
  main figure {
    padding: 0;
    max-width: 100%;
    width: 100%;
  }
  main figure img {
    width: 100%;
  }
  main figure .about {
    max-height: 480px;
  }
  .desktop_nav {
    display: none;
  }
  .desktop_nav ul a li {
    margin-left: 60px;
  }
  .mobile_nav {
    display: block;
  }
  .header_title_container {
    padding: 20px;
  }
  .header_title {
    font-size: 3.375em;
    padding-left: 10px;
  }
  .desk_splash_bg {
    display: none;
  }
  .mob_splash_bg {
    display: block;
  }
  .splash_content {
    min-height: 360px;
    max-height: 360px;
  }
  .col-20.swatchcol {
    width: 33.33%;
  }
  .portfolio_list li {
    height: 200px;
  }
  .blog_list li {
    padding-bottom: 20px;
    margin-bottom: 30px;
  }
  .blog_list .blog_title {
    margin: 0 0 10px;
    padding: 0;
  }
  .blog_list .blog_image_thumb {
    width: 100%;
    height: 320px;
    margin-bottom: 20px;
  }
}

@media (max-width: 479px) {
  main article, main section, main .blog_list {
    padding: 20px;
  }
  main figure .about {
    max-height: 360px;
  }
  .desk_bg {
    background-position: bottom;
  }
  .splash_content h1 {
    margin: 0 auto;
    top: 5%;
  }
  .splash_content h4 {
    bottom: -15%;
    letter-spacing: 0.3em;
  }
  .col-20.swatchcol {
    width: 100%;
  }
  .swatch {
    min-height: 40px;
  }
  .portfolio_list li {
    height: 120px;
  }
  .blog_list .blog_image_thumb {
    height: 240px;
  }
}
/*# sourceMappingURL=style.css.map */