$xsicon: 8px;
$smicon: 16px;
$mdicon: 32px;
$lgicon: 64px;
$xlicon: 128px;

.xsicon {
    width: $xs;
    height: $xs;
}

.smicon {
    width: $sm;
    height: $sm;
}

.mdicon {
    width: $md;
    height: $md;
}

.mdicon {
    width: $md;
    height: $md;
}

.xlicon {
    width: $xl;
    height: $xl;
}