<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-30177050-2"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-30177050-2');
    </script>
    <!-- Blank script tag to address mobile nav expand functionality -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta property="og:title" content="{{ site.title }}{% if page.title %} | {{ page.title }}{% endif %}">
    <meta property="og:description" content="{{ page.meta }}">
    <meta property="og:image" content="{{ page.image }}">
    <meta property="og:url" content="{{ page.source }}">    
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" type="image/x-icon" href="../favicon.ico"> 
    <link href="https://fonts.googleapis.com/css?family=Encode+Sans+Expanded|Montserrat:400,500" rel="stylesheet">     <link rel="shortcut icon" type="image/x-icon" href="../favicon.ico">
    <link rel="icon" type="image/png" href="../favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="../favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="../favicon-96x96.png" sizes="96x96">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
    <title>{{ site.title }}{% if page.title %} | {{ page.title }}{% endif %}</title>
    <script> </script>
</head>