<head>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-30177050-2"></script>

    <!-- Swiper -->
    <link rel="stylesheet" href="/swiper/swiper.min.css">
    <script src="/swiper/swiper.min.js"></script>

    <!-- Pop-up modal script-->
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-30177050-2');
    </script>

    <title>{{ site.title }}{% if page.title %} | {{ page.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta property="og:title" content="{{site.title}}{% if page.title %} | {{page.title}}{% endif %}">
    <meta property="og:description" content="{{page.meta}}">
    <meta property="og:image" content="{{page.image}}">
    <meta property="og:url" content="{{page.source}}">    
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    <link rel="shortcut icon" type="image/x-icon" href="{{site.baseurl}}/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600|Nunito+Sans:400,700&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

</head>