
@keyframes move {
  0% {
    -webkit-transform-origin: bottom left;
    -moz-transform-origin: bottom left;
    -ms-transform-origin: bottom left;
    -o-transform-origin: bottom left;
    transform-origin: bottom left;
    transform: scale(1.0);
    -ms-transform: scale(1.0);
    /* IE 9 */
    -webkit-transform: scale(1.0);
    /* Safari and Chrome */
    -o-transform: scale(1.0);
    /* Opera */
    -moz-transform: scale(1.0);
    /* Firefox */
  }
  100% {
    transform: scale(1.2);
    -ms-transform: scale(1.2);
    /* IE 9 */
    -webkit-transform: scale(1.2);
    /* Safari and Chrome */
    -o-transform: scale(1.2);
    /* Opera */
    -moz-transform: scale(1.2);
    /* Firefox */
  }
}

.fade_in {
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1s; /* Firefox < 16 */
     -ms-animation: fadein 1s; /* Internet Explorer */
      -o-animation: fadein 1s; /* Opera < 12.1 */
         animation: fadein 1s;

    @keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
    }

    /* Firefox < 16 */
    @-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
    }

    /* Safari, Chrome and Opera > 12.1 */
    @-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
    }

    /* Internet Explorer */
    @-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
    }

    /* Opera < 12.1 */
    @-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
    }    
  }

.fade_up {
  animation-name: fadeUp;
  animation-duration: 1s;
  transition-timing-function: ease-out;
}

  @keyframes fadeUp {
    0% {
      position: relative;
      margin-top: 2em;
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .fade_up_delay {
    animation-name: fadeUpDelay;
    animation-duration: 1s;
    transition-timing-function: ease-out;
  }
  
    @keyframes fadeUpDelay {
      0% {
        position: relative;
        margin-top: 2em;
        opacity: 0;
      }
      50% {
        position: relative;
        margin-top: 2em;
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }

.kenburns {
  -webkit-animation: kenburns 20s infinite; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: kenburns 20s infinite; /* Firefox < 16 */
   -ms-animation: kenburns 20s infinite; /* Internet Explorer */
    -o-animation: kenburns 20s infinite; /* Opera < 12.1 */
       animation: kenburns 20s infinite;

  @keyframes kenburns {
    0% {
      opacity: 0;
    }
    5% {
      opacity: 1;
    }
    95% {
        transform: scale3d(1.5, 1.5, 1.5) translate3d(-190px, -120px, 0px);
        animation-timing-function: ease-in;
        opacity: 1;
    }
    100% {
        transform: scale3d(2, 2, 2) translate3d(-170px, -100px, 0px);
        opacity: 0;
    }
  }
}

.kenburns-vert {
  -webkit-animation: kenburns-vert 15s infinite; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: kenburns-vert 15s infinite; /* Firefox < 16 */
   -ms-animation: kenburns-vert 15s infinite; /* Internet Explorer */
    -o-animation: kenburns-vert 15s infinite; /* Opera < 12.1 */
       animation: kenburns-vert 15s infinite;

  @keyframes kenburns-vert {
    0% {
      transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
      opacity: 0;
    }
    5% {
      opacity: 1;
    }
    95% {
        transform: scale3d(1, 1, 1) translate3d(0, -20%, 0);
        animation-timing-function: ease-in;
        opacity: 1;
    }
    100% {
        transform: scale3d(1.5, 1.5, 1.5) translate3d(0, 20%, 0);
        opacity: 0;
    }
  }
}

@media (max-width: 768px) {
  .kenburns-vert {
  
    @keyframes kenburns-vert {
      0% {
        transform: scale3d(1.35, 1.35, 1.35) translate3d(0, 0, 0);
        opacity: 0;
      }
      5% {
        opacity: 1;
      }
      95% {
          transform: scale3d(1.35, 1.35, 1.35) translate3d(0, -15%, 0);
          animation-timing-function: ease-in;
          opacity: 1;
      }
      100% {
          transform: scale3d(1.5, 1.5, 1.5) translate3d(0, 15%, 0);
          opacity: 0;
      }
    }
  } 
}