.pan {
  animation: move 40s ease;
  /* Add infinite to loop. */
  -ms-animation: move 40s ease;
  -webkit-animation: move 40s ease;
  -o-animation: move 40s ease;
  -moz-animation: move 40s ease;
  position: absolute;
}

@keyframes move {
  0% {
    -webkit-transform-origin: bottom left;
    -moz-transform-origin: bottom left;
    -ms-transform-origin: bottom left;
    -o-transform-origin: bottom left;
    transform-origin: bottom left;
    transform: scale(1.0);
    -ms-transform: scale(1.0);
    /* IE 9 */
    -webkit-transform: scale(1.0);
    /* Safari and Chrome */
    -o-transform: scale(1.0);
    /* Opera */
    -moz-transform: scale(1.0);
    /* Firefox */
  }
  100% {
    transform: scale(1.2);
    -ms-transform: scale(1.2);
    /* IE 9 */
    -webkit-transform: scale(1.2);
    /* Safari and Chrome */
    -o-transform: scale(1.2);
    /* Opera */
    -moz-transform: scale(1.2);
    /* Firefox */
  }
}

.fade_in {
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1s; /* Firefox < 16 */
     -ms-animation: fadein 1s; /* Internet Explorer */
      -o-animation: fadein 1s; /* Opera < 12.1 */
         animation: fadein 1s;

    @keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
    }

    /* Firefox < 16 */
    @-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
    }

    /* Safari, Chrome and Opera > 12.1 */
    @-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
    }

    /* Internet Explorer */
    @-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
    }

    /* Opera < 12.1 */
    @-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
    }    
  }

.topFadeIn {
  animation-name: topFadeIn;
  animation-duration: 1s;
}

  @keyframes topFadeIn {
    0% {
      position: relative;
      top: 25%;
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .bottomFadeIn {
    animation-name: bottomFadeIn;
    animation-duration: 1.5s;
  }
  
    @keyframes bottomFadeIn {
      0% {
        position: relative;
        bottom: 32%;
        opacity: 0;
      }
      50% {
        position: relative;
        bottom: -30%;
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }

/* Media Queries */

    @media (max-width: 1027px) {
      @keyframes topFadeIn {
        0% {
          position: relative;
          top: 10%;
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }

      @keyframes bottomFadeIn {
        0% {
          position: relative;
          bottom: -30%;
          opacity: 0;
        }
        50% {
          position: relative;
          bottom: -30%;
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
    }
  }

  @media (max-width: 479px) {
    @keyframes topFadeIn {
      0% {
        position: relative;
        top: 10%;
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }

    @keyframes bottomFadeIn {
      0% {
        position: relative;
        bottom: -20%;
        opacity: 0;
      }
      50% {
        position: relative;
        bottom: -20%;
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
  }
}