$white: #FFF;
$greylightest: #ebedef;
$greylight: #ced3d8;
$grey: #aab4bc;
$greydark: #808a93;
$greydarkest: #3b3f44;
$greyslate: #3b444b;
$black: #000;
$charcoal: #36454F;
$magenta: #C81E64;
$magentalight: lighten($magenta,15%);
$magentadark: darken($magenta,15%);
$turquoise: #00CDC6;
$navy: #000f52;
$violet: #0c0f89;

.white {
    color: $white;
}

.greylightest {
    color: $greylightest;
}

.greylight {
    color: $greylight;
}

.grey {
    color: $grey;
}

.greydark {
    color: $greydark;
}

.greydarkest {
    color: $greydarkest;
}

.black {
    color: $black;
}

.charcoal {
    color: $charcoal;
}

.magenta {
    color: $magenta;
}

.magentalight {
    color: $magentalight;
}

.magentadark {
    color: $magentadark;
}

.turquoise {
    color: $turquoise;
}

.navy {
    color: $navy;
}

.violet {
    color: $violet;
}