$white: #FFF;
$greylightest: #EBEDEF;
$greylight: #CED3d8;
$grey: #AAB4BC;
$greydark: #808A93;
$greydarkest: #3b3F44;
$greyslate: #3B444B;
$black: #000;
$charcoal: #36454F;
$magenta: #C81E64;
$magentalight: lighten($magenta,15%);
$magentadark: darken($magenta,15%);
$turquoise: #00CDC6;
$navy: #000F52;
$violet: #0C0F89;
$purple: #3f00ff;

.white {
    color: $white;
}

.greylightest {
    color: $greylightest;
}

.greylight {
    color: $greylight;
}

.grey {
    color: $grey;
}

.greydark {
    color: $greydark;
}

.greydarkest {
    color: $greydarkest;
}

.black {
    color: $black;
}

.charcoal {
    color: $charcoal;
}

.magenta {
    color: $magenta;
}

.magentalight {
    color: $magentalight;
}

.magentadark {
    color: $magentadark;
}

.turquoise {
    color: $turquoise;
}

.navy {
    color: $navy;
}

.violet {
    color: $violet;
}