// Imports
@import 'animation';
@import 'colors';
@import 'forms';
@import 'grid';
@import 'iconography';
@import 'modal';
@import 'mixins';
@import 'reset' ;
@import 'spacing';
@import 'typography';

// General

html {
    background: $white;
    scroll-behavior: smooth;
}

body {
    background: $white;
    min-width: 320px;
    margin: 0;
    padding: 0;
}

header {
    display: block;
    height: 100%;
    margin: 0 auto;
}

main {
    position: relative;
    padding: 0;
    background: $white;
    z-index: 2;
}

figure {
    margin: 0 auto;
    max-width: 100%;
    width: 100%;
    img {
        display: none;
        width: 100%;
        max-width: 100%;
        max-height: 480px;
        object-fit: cover;
        &:first-child {
            display: block;
        }
        &:last-child {
            margin: 0;
        }
    }
}

article {
    position: relative;
    padding: $lgspacing $mdspacing;
    float: none;
    img {
        max-width: 100%;
        display: block;
    }
    h6 {
        color: $violet;
    }
}

footer {
    width: 100%;
    padding: $mdspacing;
    margin: 0 auto;
    text-align: center;
    clear: both;
    z-index: 9;
    position: relative;
    a {
        margin: 0 $smspacing;
    }
    small {
        padding: $smspacing 0 0;
        display: block;
    }
    svg {
        fill: $black;
    }
}

.active span::after {
    position: absolute; 
    left: 0; 
    bottom: 0; 
    width: 100%; 
    height: 2px; 
    border-bottom: 2px solid $magentalight;
    content: ""
}

.pagination {
    padding: $mdspacing;
    clear: both;
    ul {
        display: block;
        margin: 0 auto;
        text-align: center;
        li {
            padding: 0 $lgspacing;
            display: inline-block;
        }
    }
}

.dash {
    display: block;
    width: $lgspacing;
    margin: $mdspacing auto;
    background-color: $navy;
    height: 2px;
}

.center {
    text-align: center;
}

// Splash

.splash {
    width: 100%;
    height: 100%;
    color: $white;
    background-color: $navy;
}

.splash_content {
    display: flex;
    position: relative;
    justify-content: center;
    flex: 1;
    flex-direction: column;
    padding: $mdspacing;
    text-align: center;
    height: 100%;
    * {
        z-index: 2;
    }
    .splash_inner {
        width: 100%;
        margin-top: 15%;
        padding: 0;
        h1 {
            margin: 0;
            flex: 1;
            order: 1;
            flex-basis: 100%;
        }
        .subtitle_container {
            display: inline-block;
            position: initial;
            top: 0;
            left: 0;
            background-color: rgba($white, 0.15);
            padding: 0.75rem 1rem;
            margin-top: 1rem;
            h2 {
                font-size: 1rem;
                margin: 0;
                font-weight: normal;
                white-space: nowrap;
                text-align: center;
                height: initial;
                transform: none;
                writing-mode: initial;
                letter-spacing: 0.5rem;
            }
        }
        p {
            flex: 1;
            order: 2;
            flex-basis: 100%;
            margin: 1rem auto;
            max-width: 480px;
        }
    }
    .about_link {
        display: none;
        text-transform: uppercase;
    }
    .portfolio_link {
        text-transform: uppercase;
        text-align: center;
        color: $white;
        position: absolute;
        bottom: 5%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

i {
    &.arrow {
        border-style: solid;
        display: inline-block;
        width: 0.8rem;
        height: 0.8rem;
        position: relative;
    }
    &.up {
        border-width: 0.15rem 0 0 0.15rem;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        margin-bottom: 0.25rem;
      }
    &.down {
        border-width: 0 0.15rem 0.15rem 0;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        margin-top: 0.25rem;
      }
    &.left {
        border-width: 0.15rem 0 0 0.15rem;
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        margin-right: 0.25rem;
    }
    &.right {
        border-width: 0.15rem 0.15rem 0 0;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        margin-left: 0.25rem;
    }
    &.turquoise {
        background: none;
        border-color: $turquoise;
    }
    &.magenta {
        background: none;
        border-color: $magenta;
    }
  }

.ch_logo {
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -2.25rem;
    svg {
        width: 1.75rem;
        height: 1.75rem;
        top: 1.25rem;
        left: 1.25rem;
        position: absolute;
        fill: $white;
        z-index: 9;
    }
    rect {
        position: absolute;
        background-color: $magenta;
        opacity: 0.3;
        width: 3.75rem;
        height: 3.75rem;
        z-index: 8;
        &.front {
            opacity: 0.5;
            top: 0.5rem;
            left: 0.5rem;
        }
    }
}

.splash_bg {
    display: block;
    width: 150%;
    height: 150%;
    background-image: url("../images/home/cam_splash_image.jpg");
    background-color: $navy;
    background-position: 50% -50px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: fixed;
    z-index: 0;
    top: 0;
}

.emphasis_link {
    display: block;
    margin: $smspacing $mdspacing;
    text-transform: uppercase;
}

// Portfolio

#portfolio {
    ul {
        display: flex;
        flex-wrap: wrap;
        padding: $lgspacing $mdspacing;
        li {
            margin-bottom: $lgspacing;
            .thumb {
                position: relative;
                margin-bottom: $mdspacing;
                height: 200px;
                overflow: hidden;
                img {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                    object-fit: cover;
                }
            }
            .description {
                h4 {
                    a {
                        color: $black;
                    }
                }
                .emphasis_link {
                    margin-left: 0;
                    margin-right: 0;
                }
            }
        }
    }
}

// Swiper Image Slider

.swiper-container {
    display: none;
}

// Back to top link

#to_top {
    display: inline-block;
    background-color: rgba($navy, 0.5);
    border-radius: 50%;
    width: 3.5rem;
    height: 3.5rem;
    text-align: center;
    position: fixed;
    bottom: $smspacing;
    right: $smspacing;
    transition: background-color .3s, 
      opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    i {
        margin: 0;
        color: $white;
        position: absolute;
        top: 1.5rem;
        right: 1.35rem;
    }
  }
#to_top:hover {
cursor: pointer;
background-color: rgba($navy, 1);
}
#to_top:active {
background-color: rgba($navy, 0.7);
}
#to_top.show {
opacity: 1;
visibility: visible;
}

// Smartphones, iPhone, portrait 480x320 phones
@media (min-width: 320px) {}

// Portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide.
@media (min-width: 481px) {
    #portfolio {
        ul {
            padding: $smspacing;
            li {
                padding: $smspacing;
                width: 50%;
                .thumb {
                    height: $xxxxxlspacing;
                }
            }
        }
    }
}

// portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones
@media (min-width: 641px) {
    #image-section {
        position: fixed;
        width: 60%;
        .emphasis_link {
            height: 10%;
            padding: $mdspacing;
            margin: 0;
        }
        figure {
            position: fixed;
            height: 90%;
            width: 60%;
            padding: 0 $mdspacing;
            float: left;
            img {
                display: none;
                margin-bottom: $mdspacing;
                &:first-child {
                    display: none;
                }
            }
        }
    }
    article {
        width: 40%;
        padding: $xxxlspacing $mdspacing;
        float: right;
    }
    // Swiper Image Slider

    .swiper-container {
        display: block;
        width: 100%;
        height: 300px;
        margin-left: auto;
        margin-right: auto;
        &.gallery-top {
            height: 60%;
            width: 100%;
            .swiper-slide {
                background-size: 100%;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }
        }
        &.gallery-thumbs {
            height: 25%;
            min-height: 140px;
            box-sizing: border-box;
            padding: $mdspacing 0;
            .swiper-slide {
                background-size: 100%;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                width: 15%;
                height: 100%;
                opacity: 0.4;
                &:hover {
                    opacity: 1;
                    cursor: pointer;
                }
            }
            .swiper-slide-thumb-active {
                opacity: 1;
            }
        }
    }

    #portfolio {
        ul {
            padding: $mdspacing $smspacing;
            li {
                padding: $mdspacing;
                .thumb {
                    height: 200px;
                }
            }
        }
    }
}

// tablet, landscape iPad, lo-res laptops ands desktops
@media (min-width: 961px) {  
    .splash_content {
        padding-left: $xxxxlspacing;
        .splash_inner {
            margin-top: 0;
            width: 50%;
            text-align: left;
            .subtitle_container {
                height: 100%;
                position: absolute;
                padding: 0 1.5rem;
                margin-top: 0;
                h2 {
                    height: 100%;
                    transform: rotate(180deg);
                    writing-mode: vertical-lr;
                }
            }
            p {
                margin: 1rem 0;
            }
        }
    }
    .about_link {
        text-transform: uppercase;
        color: $turquoise;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(-50%, -50%);
        &:before {
            content: "";
            height: 40px;
            width: 40px;
            background-color: $turquoise;
            border-radius: 50%;
            opacity: 0.15;
            display: inline-block;
            position: absolute;
            top: -7px;
            left: -48px;
        }
        &:after {
            content: "";
            height: 10px;
            width: 10px;
            background-color: $turquoise;
            border-radius: 50%;
            opacity: 0.5;
            display: inline-block;
            position: absolute;
            top: 8px;
            left: -33px;
        }
    }
    .ch_logo {
        margin: 0;
        left: $xxxxlspacing;
        svg {
            width: 2.25rem;
            height: 2.25rem;
        }
        rect {
            width: 4.25rem;
            height: 4.25rem;
        }
    }
    .splash_bg {
        background-size: contain;
        background-position: 115% 0;
    }
    #portfolio {
        ul {
            padding: $xlspacing;
            li {
                width: 33.33%;
            }
        }
    }
}

// big landscape tablets, laptops, and desktops
@media (min-width: 1025px) {
    main {
        section {
            padding: 0;
            margin: 0;
            clear: both;
        }
        figure {
            padding: 0 $lgspacing;
            .about {
                height: 60%;
                min-height: 0;
                max-height: 480px;
            }
        }
        article {
            padding: 0 $lgspacing;
        }
    }
    .dark {
        main {
            padding: $lgspacing;
        }
    }
    .splash_bg {
        background-position: 120px -50px;
        background-size: cover;
    }
    .emphasis_link {
        margin: $mdspacing $lgspacing;
    }
    .about_link {
        text-transform: uppercase;
        color: $turquoise;
        position: absolute;
        top: 50%;
        right: 15%;
        transform: translate(-50%, -50%);
        &:before {
            content: "";
            height: 40px;
            width: 40px;
            background-color: $turquoise;
            border-radius: 50%;
            opacity: 0.15;
            display: inline-block;
            position: absolute;
            top: -7px;
            left: -48px;
        }
        &:after {
            content: "";
            height: 10px;
            width: 10px;
            background-color: $turquoise;
            border-radius: 50%;
            opacity: 0.5;
            display: inline-block;
            position: absolute;
            top: 8px;
            left: -33px;
        }
    }
    #portfolio {
        ul {
            li {
                padding: $lgspacing;
            }
        }
    }
}

// hi-res laptops and desktops
@media (min-width: 1281px) {
    #portfolio {
        ul {
            li {
                padding: $xlspacing;
                .thumb {
                    height: 240px;
                }
            }
        }
    }
}

// landscape devices
@media (orientation: landscape) and (max-height: 480px) {
    .splash {
        height: 125%;
    }
}

// portrait devices
@media (orientation: portrait) and (min-width: 641px) {
    figure {
        float: none;
        clear: both;
        margin: 0 auto;
        max-width: 100%;
        height: inherit;
        width: 100%;
        img {
            display: none;
            width: 100%;
            max-width: 100%;
            max-height: 480px;
            object-fit: cover;
            &:first-child {
                display: block;
            }
            &:last-child {
                margin: 0;
            }
        }
    }
    
    article {
        float: none;
        clear: both;
        margin: 0 auto;
        width: 100%;
        max-width: 768px;
        position: relative;
        padding: $lgspacing $mdspacing;
        img {
            max-width: 100%;
            display: block;
        }
    }
    .swiper-container {
        display: none;
    }
}