// Imports
@import 'animation';
@import 'colors';
@import 'forms';
@import 'grid';
@import 'iconography';
@import 'mixins';
@import 'reset' ;
@import 'spacing';
@import 'typography';

// General

body {
    color: $black;
    background: $white;
    min-width: 320px;
    margin: 0;
    padding: 0;
    .desk_bg {
        display: block;
        width: 100%;
        height: 100%;
        max-height: 680px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: fixed;
        z-index: -10;
    }
    .mob_bg {
        display: none;
        width: 100%;
        height: 100%;
        max-height: 420px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: fixed;
        z-index: -10;
    }
}

nav {
    background: $white;
    margin: 0 auto;
    padding: $xlspacing;
    text-transform: uppercase;
    border-bottom: 1px solid $greylight;
}

header {
    position: relative;
    margin: 0 auto;
    padding: 0;
    height: 70%;
    min-height: 420px;
    max-height: 640px;
}

header.tint:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 50, 175, 0.75);
    transition: all .3s linear;
  }

main {
    width: 100%;
    background: $white;
    article, section {
        margin: 0 auto;
        padding: $lgspacing $lgspacing;
        max-width: 800px;
        img {
            width: 100%;
            min-width: 100%;
        }
    }
    figure {
        margin: 0 auto;
        max-width: 800px;
        padding: 0 $lgspacing;
        img {
            width: 100%;
            min-width: 100%;
        }
    }
}

footer {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    clear: both;
    small {
        display: block;
        padding: $xlspacing;
    }
}

a + svg {
    fill: $violet;
    float: left;
    transform-origin: 0;
    transition: opacity 0.2s ease, -webkit-transform 0.2s cubic-bezier(0.77, 0.2, 0.05, 1);
}

a + svg:hover {
    opacity: 0.5;
}

a + svg:active {
    opacity: 1;
}

a + svg:focus {
    opacity: 1;
}

.desktop_nav {
    margin-bottom: 0;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    /* CH Logo */
    > a {
        float: left;
        position: relative;
        top: -23px;
    }
    .icon {
        width: 48px;
        height: 48px;
    }
    ul {
        float: right;
        position: relative;
        top: -12px;
        li {
            display: inline;
            list-style-type: none;
            margin-left: $xxxxlspacing;
            font-family: $font-header;
            a {
                position: relative;
                padding-bottom: $xsmspacing;
                color: $black;
            }
        }
    }
}
.mobile_nav {
    display: none;
    margin-bottom: 0;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    /* CH Logo */
    > a {
        float: left;
        position: relative;
        top: -14px;
    }
    .nav_current {
        float: right;
        position: relative;
        top: -0.4em;
        right: $smspacing;
        font-size: 1em;
        font-family: $font-header;
    }
    #menuToggle {
        float: right;
        position: relative;
        top: -6px;
        left: $smspacing;
        z-index: 2;
        -webkit-user-select: none;
        user-select: none;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        #hamburgerinput {
            display: block;
            width: 32px;
            height: 32px;
            top: -12px;
            left: -18px;
            position: absolute;
            cursor: pointer;
            opacity: 0; /* hide this */
            z-index: 2; /* and place it over the hamburger */
            -webkit-touch-callout: none;
        }
        .hamburgerspan {
            display: block;
            width: $mdspacing;
            height: 2px;
            margin-bottom: 4px;
            position: relative;
            right: 8px;
            background: $black;
            z-index: 1;
            transform-origin: 0;
            transition: transform 0.2s cubic-bezier(0.77,0.2,0.05,1.0), background 0.2s cubic-bezier(0.77,0.2,0.05,1.0), opacity 0.2s ease;
        }
        .hamburgerspan:first-child {
            transform-origin: 0% 0%;
        }
        .hamburgerspan:nth-last-child(2) {
            transform-origin: 0% 100%;
        }
        #hamburgerinput:checked ~ .hamburgerspan {
            transform: rotate(45deg) translate(0, -1px);
            background: $white;
        }
        #hamburgerinput:checked ~ .hamburgerspan:nth-last-child(3) {
            opacity: 0;
            transform: rotate(0deg) scale(0.2, 0.2);
        }
        #hamburgerinput:checked ~ .hamburgerspan:nth-last-child(2) {
            opacity: 1;
            transform: rotate(-45deg) translate(0, 1px);
        }
        #hamburgerinput:checked ~ ul {
            transform: scale(1.0, 1.0);
            opacity: 1;
        }
        #hamburgerinput:checked ~ .hamburgerbg {
            visibility: visible;
            opacity: 1;
            transition: visibility 0s, opacity 0.5s linear;
            z-index: -10;
        }
        #hamburgerinput:checked ~ #menu {
            transform: translate(0, 0);
            transition: transform 0.3s cubic-bezier(0.77,0.2,0.05,1.0);
        }
        #hamburgerinput:hover ~ .hamburgerspan, #hamburgerinput:checked:hover ~ .hamburgerspan {
            opacity: 0.5;
        }
        #hamburgerinput:focus ~ .hamburgerspan, #hamburgerinput:checked:focus ~ .hamburgerspan {
            opacity: 1;
        }
        #hamburgerinput:checked:hover ~ .hamburgerspan:nth-last-child(3), #hamburgerinput:checked:focus ~ .hamburgerspan:nth-last-child(3) {
            opacity: 0;
        }
        .hamburgerbg {
            display: block;
            cursor: pointer;
            position: fixed;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(255,255,255,0.7);
            visibility: hidden;
            opacity: 0;
            transition: visibility 0s, opacity 0.5s linear;
            z-index: -10;
        }
        #menu {
            position: fixed;
            top: 0;
            right: 0;
            width: 70%;
            height: 100%;
            text-align: center;
            padding: $xxlspacing 0;
            background-color: $violet;
            list-style-type: none;
            -webkit-font-smoothing: antialiased;
            transform-origin: 0;
            transform: translate(100%, 0);
            transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
            overflow-y: auto;
            li {
                a {
                    display: block;
                    padding: $mdspacing 0;
                    margin: $smspacing 0;
                    text-transform: uppercase;
                    color: $white;
                    font-family: $font-body;
                    transform-origin: 0;
                    transition: opacity 0.2s ease, -webkit-transform 0.2s cubic-bezier(0.77, 0.2, 0.05, 1);                
                    span {
                        font-family: $font-header;
                        position: relative;
                        padding-bottom: $xsmspacing;
                    }
                }
            }
            li {
                span:hover {
                    a {
                        opacity: 0.5;
                    }
                }
            }
        }
        #menu::-webkit-scrollbar { 
            display: none; 
        }
    }
}

.active span::after {
    position: absolute; 
    left: 0; 
    bottom: 0; 
    width: 100%; 
    height: 2px; 
    border-bottom: 2px solid $magentalight;
    content: ""
}

.blurb {
    margin: 0 auto;
    text-align: center;
    max-width: 768px;
}

// Splash

.desk_splash_bg {
    display: block;
    width: 100%;
    height: 100%;
    max-height: 680px;
    background-image: url("../images/home/splash_bg.jpg");
    background-color: $violet;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    z-index: -10;
}

.mob_splash_bg {
    display: none;
    width: 100%;
    height: 100%;
    max-height: 420px;
    background-image: url("../images/home/splash_bg_sm.jpg");
    background-color: $violet;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    z-index: -10;
}

.splash_content {
    display: block;
    max-width: none;
    padding-bottom: $xxxxxlspacing;
    height: 65%;
    min-height: 480px;
    max-height: 600px;
    position: relative;
    z-index: 1;
    text-align: center;
    color: $white;
    background-size: cover;
    text-transform: uppercase;
    .desktop_nav {
        background-color: transparent;
        border-bottom: none;
        padding-bottom: $xxxlspacing;
        ul {
            li {
                a {
                    color: $white;
                }
            }
        }
    }
    .mobile_nav {
        background-color: transparent;
        margin-bottom: $lgspacing;
        border-bottom: none;
    }
    .mobile_nav #menuToggle .hamburgerspan {
        background: $white;
    }
    a svg {
        fill: $white;
    }
    h1 {
        position: relative;
        top: 15%;
        z-index: 1;
    }
    h4 {
        letter-spacing: 0.6em;
        position: relative;
        bottom: -20%;
        z-index: 1;
    }
    .splash_mask_left {
        fill: $white;
        position: absolute;
        left: 0;
        bottom: -1px;
        width: 51%;
        height: 40%;
        max-height: 200px;
    }
    .splash_mask_right {
        fill: $white;
        position: absolute;
        right: 0;
        bottom: -1px;
        width: 51%;
        height: 40%;
        max-height: 200px;
    }
}

// About

.about {
    height: 600px;
    position: relative;
    margin: 0 auto;
    background-size: cover;
    background-color: $grey;
    .blue_box {
        width: 65%;
        height: 45%;
        padding: $lgspacing;
        background-color: rgba(0, 225, 255, 0.4);
        color: $white;
        position: absolute;
        top: 15%;
        right: 10%;
        text-align: right;
    }
}

// Blog

.blog_list {
    display: block;
    margin: 0 auto;
    max-width: 800px;
    padding: $xlspacing $lgspacing;
    .blog_title {
        padding: 0;
        margin: 0 0 $smspacing;
    }
    li {
        display: block;
        border-bottom: 1px solid $greylight;
        padding-bottom: $lgspacing;
        margin-bottom: $lgspacing;
    }
    li:nth-last-child(1) {
        border-bottom: 0;
        padding-bottom: 0;
        margin-bottom: 0;
    }
}

.blog_image_thumb {
    display: block;
    float: left;
    margin: 0 $mdspacing $xlspacing 0;
    width: 40%;
    height: 200px;
    background-color: $grey;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.blog_right_column {
    display: block;
    overflow: hidden;
    min-height: 200px;
}

.blog_description {
    text-overflow: ellipsis;
    margin-bottom: 0;
}

.header_title_container {
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
    padding: $xlspacing;
}

.header_title {
    position: absolute;
    color: #FFF;
    border-left: 4px solid cyan;
    margin: auto;
    padding-left: $lgspacing;
    bottom: $xlspacing;
}

.header_date, .header_subtitle {
    color: $greydark;
    margin: $mdspacing 0 $lgspacing;
    font-family: $font-body;
    &.font_small {
        margin: 0 0 $smspacing;
    }
}

// Portfolio

.portfolio_list {
    li {
        position: relative;
        float: left;
        width: 48%;
        height: 300px;
        overflow: hidden;
        margin: 0 4% 4% 0;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: $grey;
        transform-origin: 0;
        transition: opacity 0.2s ease, -webkit-transform 0.2s cubic-bezier(0.77, 0.2, 0.05, 1);   
        a {
            display: block;
            width: 100%;
            height: 100%;
        }
    }
    li:nth-child(2n) {
        margin: 0 0 2% 0;
    }
    li:hover {
        opacity: 0.5;
    }
}

.wide_layout {
    max-width: 1028px;
}

// Style Guide

.styles_splash {
    h1 {
        font-size: 1.999em;
        display: inline;
        position: relative;
        bottom: 14px;
    }
    p {
        text-transform: none;
    }
    .divider {
        border-left: 1px solid $black;
        height: 50px;
        width: 1px;
        margin: 0 $mdspacing;
        position: relative;
        top: 1px;
        display: inline-block;
        opacity: 0.5;
    }
}

.design_element {
    margin-bottom: $xxlspacing;
}

.design_element:after {
    display: block;
    content: "";
    clear: both;
}

.element_title {
    color: $grey;
    margin-bottom: $mdspacing;
    text-transform: uppercase;
    clear: both;
}

.boldsection {
    font-weight: 700;
}

.lightsection {
    font-weight: 300;
}

.swatchcol {
    float: left;
    min-height: 1px;
    padding-left: $mdspacing;
    margin-bottom: $mdspacing;
}

.swatch {
    font-size: 0.707em;
    display: block;
    min-height: 20px;
    line-height: 1.2;
    text-align: center;
    padding: $mdspacing;
}

.gridcolor {
    background: $greylight;
}

.grid :nth-child(2n) .gridcolor {
    background: $greylightest;
}

// Media Queries

@media (max-width: 1599px) {
    .desktop_nav {
        ul {
            li {
                margin-left: $xxxlspacing;
            }
        }
    }
}

@media (max-width: 1027px) {
    .splash_content {
        h1 {
            top: 15%;
            font-size: 3.375em;
            line-height: 1;
            letter-spacing: -0.05em;
        }
        h4 {
            bottom: -20%;
            font-size: 1.25em;
            letter-spacing: 0.4em;
        }
    }
}

@media (max-width: 767px) {
    body {
        .desk_bg {
            display: none;
        }
        .mob_bg {
            display: block;
            max-height: 480px;
        }
    }
    header {
        min-height: 360px;
        max-height: 420px;
    }
    nav, section, footer {
        padding: $lgspacing $mdspacing;
    }
    main {
        article, section, .blog_list {
            padding: $lgspacing $mdspacing;
        }
        figure {
            padding: 0;
            max-width: 100%;
            width: 100%;
            img {
                width: 100%;
            }
            .about {
                max-height: 480px;
            }
        }
    }
    .desktop_nav {
        display: none;
        ul {
            a {
                li {
                    margin-left: $xxlspacing;
                }
            }
        }
    }
    .mobile_nav {
        display: block;
    }
    .header_title_container {
        padding: $mdspacing;
    }
    .header_title {
        font-size: 3.375em;
        padding-left: $smspacing;
    }
    .desk_splash_bg {
        display: none;
    }
    .mob_splash_bg {
        display: block;
    }
    .splash_content {
        min-height: 360px;
        max-height: 360px;
    }
    .col-20.swatchcol {
        width: 33.33%;
    }
    .portfolio_list {
        li {
            height: 200px;
        }
    }
}

@media (max-width: 479px) {
    main {
        article, section, .blog_list {
            padding: $mdspacing;
        }
        figure {
            .about {
                max-height: 360px;
            }
        }
    }
    .desk_bg {
        background-position: bottom;
    }
    .splash_content {
        h1 {
            margin: 0 auto;
            top: 5%;
        }
        h4 {
            bottom: -15%;
            letter-spacing: 0.3em;
        }
    }
    .col-20.swatchcol {
        width: 100%;
    }
    .swatch {
        min-height: 40px;
    }
    .portfolio_list {
        li {
            height: 120px;
        }
    }
    .blog_list {
        li {
            padding-bottom: $mdspacing;
            margin-bottom: $mdspacing;
        }
        .blog_image_thumb {
            margin: 0 $mdspacing $smspacing 0;
            width: 35%;
            height: 100px;
        }
        .blog_title {
            font-size: 1.2em;
            margin: 0 0 $xsmspacing;
        }
    }
    .blog_right_column {
        min-height: 100px;
        .header_date {
            margin: 0 0 $xsmspacing;
        }
        .blog_description {
            font-size: 0.9em;
        }
    }
}