@import 'reset' ;
@import 'colors';
@import 'forms';
@import 'mixins';
@import 'spacing';
@import 'grid';
@import 'iconography';
@import 'typography';

body {
    color: $black;
    background: $white;
    min-width: 320px;
}

nav {
    display: block;
    margin: 0 auto;
    padding: $xlspacing;
    text-transform: uppercase;
    border-bottom: 1px solid $greylight;
}

header {
    margin: 0 auto;
    padding: 0;
    max-width: 768px;
    img {
        width: 100%;
        min-width: 100%;
    }
}

main {
    margin: 0 auto;
    padding: $xlspacing $mdspacing;
    max-width: 768px;
    img {
        width: 100%;
        min-width: 100%;
    }
}

footer {
    margin: 0 auto;
    padding: $xlspacing;
    clear: both;
}

a svg {
    fill: $black;
    float: left;
    :hover {
        opacity: 0.5;
        transition: opacity 0.1s;
    }
    :active {
        opacity: 1;
    }
}

.home_splash {
    display: block;
    max-width: none;
    position: relative;
    text-align: center;
    padding-bottom: 320px;
    color: $white;
    background: url("images/ny_bg.jpg") $navy no-repeat center 65%;
    background-size: cover;
    text-transform: uppercase;
    .desktop_nav {
        border-bottom: none;
        padding-bottom: $xxxlspacing;
        a {
            color: $white;
        }
    }
    .mobile_nav {
        margin-bottom: $lgspacing;
        border-bottom: none;
    }
    .mobile_nav #menuToggle .hamburgerspan {
        background: $white;
    }
    a svg {
        fill: $white;
    }
    h1 {
        position: relative;
        z-index: 1;
    }
    h2 {
        font-size: 1.414em;
        letter-spacing: 0.6em;
        position: relative;
        z-index: 1;
    }
    .splashshapeleft {
        fill: $white;
        position: absolute;
        left: 0;
        bottom: -1px;
        width: 26%;
        height: 30%;
    }
    .splashshaperight {
        fill: $white;
        position: absolute;
        right: 0;
        bottom: -1px;
        width: 76%;
        height: 50%;
    }
}

.desktop_nav {
    margin-bottom: 0;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    /* CH Logo */
    > a {
        float: left;
        position: relative;
        top: -23px;
    }
    .icon {
        width: 48px;
        height: 48px;
    }
    ul {
        float: right;
        position: relative;
        top: -12px;
        a {
            color: $black;
            font-family: 'Montserrat', sans-serif;
            :hover {
                transition: opacity 0.1s;
            }
            :active {
                opacity: 1;
            }
            li {
                display: inline;
                list-style-type: none;
                margin-left: $xxlspacing;
            }
        }
    }
}

.mobile_nav {
    display: none;
    margin-bottom: 0;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    /* CH Logo */
    > a {
        float: left;
        position: relative;
        top: -14px;
    }
    h1 {
        float: right;
        position: relative;
        top: -8px;
        right: $mdspacing;
        font-size: 1em;
    }
    #menuToggle {
        float: right;
        position: relative;
        top: -6px;
        left: $smspacing;
        z-index: 2;
        -webkit-user-select: none;
        user-select: none;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        #hamburgerinput {
            display: block;
            width: 32px;
            height: 32px;
            top: -12px;
            left: -18px;
            position: absolute;
            cursor: pointer;
            opacity: 0; /* hide this */
            z-index: 2; /* and place it over the hamburger */
            -webkit-touch-callout: none;
        }
        .hamburgerspan {
            display: block;
            width: 20px;
            height: 2px;
            margin-bottom: 4px;
            position: relative;
            right: 8px;
            background: $black;
            z-index: 1;
            transform-origin: 0;
            transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0), 
            background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
            opacity 0.55s ease;
        }
        .hamburgerspan:first-child {
            transform-origin: 0% 0%;
        }
        .hamburgerspan:nth-last-child(2) {
            transform-origin: 0% 100%;
        }
        #hamburgerinput:checked ~ .hamburgerspan {
            transform: rotate(45deg) translate(0, -1px);
            background: $white;
        }
        #hamburgerinput:checked ~ .hamburgerspan:nth-last-child(3) {
            opacity: 0;
            transform: rotate(0deg) scale(0.2, 0.2);
        }
        #hamburgerinput:checked ~ .hamburgerspan:nth-last-child(2) {
            opacity: 1;
            transform: rotate(-45deg) translate(0, 1px);
        }
        #hamburgerinput:checked ~ ul {
            transform: scale(1.0, 1.0);
            opacity: 1;
        }
        #hamburgerinput:checked ~ .hamburgerbg {
            visibility: visible;
            opacity: 1;
            transition: visibility 0s, opacity 0.5s linear;
            z-index: -10;
        }
        #hamburgerinput:checked ~ #menu {
            transform: translate(0, 0);
            transition: transform 0.3s cubic-bezier(0.77,0.2,0.05,1.0);
        }
        .hamburgerbg {
            display: block;
            cursor: pointer;
            position: fixed;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(255,255,255,0.7);
            visibility: hidden;
            opacity: 0;
            transition: visibility 0s, opacity 0.5s linear;
            z-index: -10;
        }
        #menu {
            position: fixed;
            top: 0;
            right: 0;
            width: 70%;
            height: 100%;
            text-align: center;
            padding: $xxlspacing 0;
            background-color: $navy;
            list-style-type: none;
            -webkit-font-smoothing: antialiased;
            /* to stop flickering of text in safari */
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            transform-origin: 0;
            transform: translate(100%, 0);
            transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
            li {
                text-transform: uppercase;
                color: $white;
                padding: $mdspacing;
                font-family: 'Montserrat', sans-serif;
            }
        }
    }
}

.introtext {
    font-size: 1.207em;
    line-height: 1.45em;
}

.center {
    margin: 0 auto;
    text-align: center;
}

.returnlink {
    font-family: "Montserrat",sans-serif;
    text-transform: uppercase;
    margin-bottom: $smspacing;
}

.post h3 {
    margin-bottom: $smspacing;
}

/* Work */

.work-list {
    li {
        margin: 0;
        padding: 5px;
        float: left;
        width: 50%;
        height: 200px;
        overflow: hidden;
        position: relative;
        img {
            position: absolute;
            top: -9999px;
            left: -9999px;
            right: -9999px;
            bottom: -9999px;
            margin: auto;
        }
    }
}

/* Blog */

.blog-list {
    li {
        border-bottom: 1px solid $greylight;
        padding-bottom: $smspacing;
        margin-bottom: $xlspacing;
    }
    li:nth-last-child(1) {
        border-bottom: 0;
        padding-bottom: 0;
        margin-bottom: 0;
    }
}

.blog-thumb {
    display: block;
    position: relative;
    margin-bottom: $mdspacing;
}

.blog-date {
    display: block;
    margin-bottom: $smspacing;
    color: $greydark;
}


/* Style Guide */

.styles_splash {
    h1 {
        font-size: 1.999em;
        display: inline;
        position: relative;
        bottom: 14px;
    }
    p {
        text-transform: none;
    }
    .divider {
        border-left: 1px solid $black;
        height: 50px;
        width: 1px;
        margin: 0 $mdspacing;
        position: relative;
        top: 1px;
        display: inline-block;
        opacity: 0.5;
    }
}

.design_element {
    margin-bottom: $xxlspacing;
}

.design_element:after {
    display: block;
    content: "";
    clear: both;
}

.element_title {
    color: $grey;
    margin-bottom: $mdspacing;
    text-transform: uppercase;
    clear: both;
}

.boldsection {
    font-weight: 700;
}

.lightsection {
    font-weight: 300;
}

.swatchcol {
    float: left;
    min-height: 1px;
    padding-left: $mdspacing;
    margin-bottom: $mdspacing;
}

.swatch {
    font-size: 0.707em;
    display: block;
    min-height: 20px;
    line-height: 1.2;
    text-align: center;
    padding: $mdspacing;
}

.gridcolor {
    background: $greylight;
}

.grid :nth-child(2n) .gridcolor {
    background: $greylightest;
}

/* Media Queries */

@media (max-width: 1600px) {
    .home_splash {
        padding-bottom: $xxxxxlspacing;
        h1 {
            font-size: 2.827em;
        }
        h2 {
            font-size: 1.207em;
            letter-spacing: 0.4em;
        }
        .splashshapeleft {
            width: 26%;
            height: 30%;
        }
        .splashshaperight {
            width: 76%;
            height: 50%;
        }
    }
}

@media (max-width: 768px) {
    .desktop_nav {
        display: none;
    }
    .mobile_nav {
        display: block;
    }
    .home_splash {
        padding-bottom: $xxxxlspacing;
        h1 {
            font-size: 1.999em;
        }
        h2 {
            font-size: 1em;
            letter-spacing: 0.4em;
        }
        .splashshapeleft {
            height: 20%;
        }
        .splashshaperight {
            height: 35%;
        }
    }
    nav, main, section, footer {
        padding: $lgspacing $mdspacing;
    }
    .col-20.swatchcol {
        width: 33.33%;
    }
    .blog-list {
        li {
            padding-bottom: $smspacing;
            margin-bottom: $lgspacing;
        }
    }
}

@media (max-width: 480px) {
    .styles_splash {
        h1 {
            bottom: 14px;
            margin-bottom: 20px;
        }
    }
    .col-20.swatchcol {
        width: 100%;
    }
    .swatch {
        min-height: 40px;
    }
    .blog-list {
        h3 {
            font-size: F1.414em;
        }
        h5 {
            font-size: 0.707em;
        }
    }
}