<html>
  {% include head.html %}
  <body>
    <div class="content_bg fade_in" style="background-image: url('{{page.image}}'); background-color:#BDC3C7">
    </div>      
        {% include nav.html %}
        <header class="embed_title">
            <div class="header_content">                
              <h2 class="header_title">{{page.title}}</h2>
              <h5 class="header_date">Posted on {{ page.date | date: "%B %e, %Y" }}</h5>
            </div>
        </header>
        <main>
          <article class="post">
            <div class="entry">
              {{ content }}
              <p>Source: <a href="{{ page.source }}">Visit</a></p>
            </div>
          </article>
          {% include footer.html %}
        </main>
  </body>
</html>
