<html>
  {% include head.html %}
  <body>
      {% include nav.html %}
      <main>
        <figure>
            <img class="fade_in" src="{{page.image}}">
        </figure>
        <article>
          <h3>{{page.title}}</h3>
          <div class="entry">
            <h5 class="header_date">{{ page.date | date: "%B %e, %Y" }}</h5>
            {{ content }}
            <br>
            {% if page.source %}<p><a class="btn hollow" target="_blank" href="{{page.source}}">Visit Source</a></p>{% endif %}
          </div>
        </article>
        <div class="pagination">
          {% if paginator.total_pages > 1 %}
              <ul>
                  {% if paginator.previous_page %}
                      <li>
                          <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Newer</a>
                      </li>
                  {% endif %}
                  {% if paginator.next_page %}
                      <li>
                          <a href="{{ paginator.next_page_path | prepend: site.baseurl }}">Older</a>
                      </li>
                  {% endif %}
              </ul>
          {% endif %}
      </div>
        {% include footer.html %}
      </main>
  </body>
</html>
