<html>
  {% include head.html %}
  <body>
      <main>
        <div id="image-section">
          <a class="emphasis_link" href="{{site.url}}/#portfolio"><i class="arrow left magenta"></i>Home</a>
          <figure>
            <!-- Main Image (Mobile) -->
            {% for image in page.images %}
              <img src="{{image}}">
            {% endfor %}

            <!-- Swiper (Desktop) -->
            <div class="swiper-container gallery-top fadeIn">
              <div class="swiper-wrapper">
                {% for image in page.images %}
                  <div class="swiper-slide" style="background-image:url({{image}})"></div>
                {% endfor %}
              </div>
              <!-- Add Arrows -->
              <div class="swiper-button-next swiper-button-white"></div>
              <div class="swiper-button-prev swiper-button-white"></div>
            </div>
            <div class="swiper-container gallery-thumbs">
              <div class="swiper-wrapper">
                {% for image in page.images %}
                  <div class="swiper-slide" style="background-image:url({{image}})"></div>
                {% endfor %}
              </div>
            </div>
          </figure>
        </div>

        <article class="fadeUp delay250ms">
            <h2>{{page.title}}</h2>
            <br>
            {{content}}
            <br>
            {% if page.source %}
            <p><a class="btn hollow" target="_blank" href="{{page.source}}">View final product</a></p>
            {% endif %}
        </article>
      </main>
      {% include footer.html %}
      <a id="to_top"><i class="arrow up"></i></a>

  <!-- Initialize Swiper -->
  <script>
    var galleryThumbs = new Swiper('.gallery-thumbs', {
      spaceBetween: 10,
      slidesPerView: 4,
      freeMode: true,
      watchSlidesVisibility: true,
      watchSlidesProgress: true,
    });
    var galleryTop = new Swiper('.gallery-top', {
      spaceBetween: 10,
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
      thumbs: {
        swiper: galleryThumbs
      }
    });
  </script>

  </body>
</html>
