<html>
  {% include head.html %}
  <body>
      {% include nav.html %}
      <main>
        <figure>
            <img class="fade_in" src="{{page.image}}">
        </figure>
        <article>
          <h3>{{page.title}}</h3>
          <div class="entry">
            <h5 class="header_date">{{ page.date | date: "%B %e, %Y" }}</h5>
            {{ content }}
            <br>
            {% if page.source %}<p><a class="btn hollow" target="_blank" href="{{page.source}}">Visit Source</a></p>{% endif %}
          </div>
        </article>
        {% include footer.html %}
      </main>
  </body>
</html>
