<html>
  {% include head.html %}
  <body>
      {% include nav.html %}
      <main>
        <figure class="left_float">
            {% for image in page.images %}
                <img src="{{image}}">
            {% endfor %}
        </figure>
        <article class="right_float sticky">
            <h3>{{page.title}}</h3>
            <p>{{content}}</p>
            {% if page.source %}
                <p><a class="btn hollow" target="_blank" href="{{page.source}}">Visit Project</a></p>
            {% endif %}
        </article>
        {% include footer.html %}
      </main>
  </body>
</html>
