<html>
  {% include head.html %}
  <body>
    {% include nav.html %}
    <header>
        <img src="{{page.image}}">
    </header>
    <main>
      <article class="post">
          <div class="entry">
            <h3>{{page.title}}</h3>
            <small>Posted on {{ page.date | date: "%B %e, %Y" }}</small>
              {{ content }}
          </div>
      </article>
      <div class="returnlink">
        <a href="{{ site.baseurl }}/{{page.category}}">Return to {{page.category}}</a>
      </div>
    </main>
    {% include footer.html %}
  </body>
</html>
