<html>
    {% include head.html %}
    <body>
        <div class="desk_splash_bg">
            <div class="snow"></div>
        </div>
        <div class="mob_splash_bg">
            <div class="snow"></div>
        </div>
        <header class="splash_content">
            {% include nav.html %}
            <h1>Cameron Hirbodi</h1>
            <h2>Visual Designer</h2>
            <svg class="splashshapeleft" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
                <polygon points="0,0 0,100 100,100"/>
            </svg>
            <svg class="splashshaperight" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
                <polygon points="0,100 100,0 100,100"/>
            </svg>
        </header>
        <main>
            {{ content }}
            {% include footer.html %}
        </main>
    </body>
</html>
