<html>
    {% include head.html %}
    <body>
    <div class="home_splash_bg">
    </div>
        <header class="home_splash">
            {% include nav.html %}
            <h1>Cameron Hirbodi</h1>
            <h2>Visual Designer</h2>
            <svg class="splashshapeleft" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
                <polygon points="0,0 0,100 100,100"/>
            </svg>
            <svg class="splashshaperight" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
                <polygon points="0,100 100,0 100,100"/>
            </svg>
        </header>
    {{ content }}
    {% include footer.html %}
    </body>
</html>
