<html>
  {% include head.html %}
  <body>
    {% include nav.html %}
    <header class="fade_in" style="background-image: url('{{page.image}}')">
    </header>
    <main>
      <article class="post">
          <div class="entry">
            <h3>{{page.title}}</h3>
            <p><a href="{{ page.source }}">View Source</a></p>
              {{ content }}
          </div>
      </article>
      <div class="returnlink">
        <a href="{{ site.baseurl }}/{{page.category}}">Return to {{page.category}}</a>
      </div>
    </main>
    {% include footer.html %}
  </body>
</html>
